In [2]:
import pandas as pd
from pandas import DataFrame
import numpy as np
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})
print(df)

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [7]:
#interpolate function The interpolate() function is used to interpolate values according to different methods.
###Please note that only method='linear' is supported for DataFrame/Series with a MultiIndex.The interpolate() function is used to interpolate values according to different methods.
# syntax: DataFrame.interpolate(self, method='linear', axis=0, limit=None, inplace=False, limit_direction='forward', limit_area=None, downcast=None, **kwargs)

df['FlightNumber']=df['FlightNumber'].interpolate().astype(int)
print(df)

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris         10045      [23, 47]               KLM(!)
1      MAdrid_miLAN         10055            []    <Air France> (12)
2  londON_StockhOlm         10065  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis         10075          [13]       12. Air France
4   Brussels_londOn         10085      [67, 32]          "Swiss Air"

In [10]:
#spliting using split function (str.split())
temp = df.From_To.str.split('_', expand=True)
temp.columns = ['From', 'To']
print(temp)

       From         To
0    LoNDon      paris
1    MAdrid      miLAN
2    londON  StockhOlm
3  Budapest      PaRis
4  Brussels     londOn

In [11]:
temp['From'] = temp['From'].str.capitalize()
temp['To'] = temp['To'].str.capitalize()
print(temp)

       From         To
0    London      Paris
1    Madrid      Milan
2    London  Stockholm
3  Budapest      Paris
4  Brussels     London

In [18]:
print(df)

   FlightNumber  RecentDelays              Airline      From         To
0         10045      [23, 47]               KLM(!)    London      Paris
1         10055            []    <Air France> (12)    Madrid      Milan
2         10065  [24, 43, 87]  (British Airways. )    London  Stockholm
3         10075          [13]       12. Air France  Budapest      Paris
4         10085      [67, 32]          "Swiss Air"  Brussels     London

In [19]:
# note: using .strip() gets rid of any leading/trailing spaces
df['Airline'] = df['Airline'].str.extract('([a-zA-Z\s]+)', expand=False).str.strip()
print(df)

   FlightNumber  RecentDelays          Airline      From         To
0         10045      [23, 47]              KLM    London      Paris
1         10055            []       Air France    Madrid      Milan
2         10065  [24, 43, 87]  British Airways    London  Stockholm
3         10075          [13]       Air France  Budapest      Paris
4         10085      [67, 32]        Swiss Air  Brussels     London

In [20]:
#Expand the Series of lists into a DataFrame named delays, rename the columns 
#delay_1, delay_2, etc. and replace the unwanted RecentDelays column in df with delays.

delays = df['RecentDelays'].apply(pd.Series)

delays.columns = ['delay_{}'.format(n) for n in range(1, len(delays.columns)+1)]

df = df.drop('RecentDelays', axis=1).join(delays)
print(df)

   FlightNumber          Airline      From         To  delay_1  delay_2  \
0         10045              KLM    London      Paris     23.0     47.0
1         10055       Air France    Madrid      Milan      NaN      NaN
2         10065  British Airways    London  Stockholm     24.0     43.0
3         10075       Air France  Budapest      Paris     13.0      NaN
4         10085        Swiss Air  Brussels     London     67.0     32.0

   delay_3
0      NaN
1      NaN
2     87.0
3      NaN
4      NaN

In [21]:
#Using multiindex

letters = ['A', 'B', 'C']
numbers = list(range(10))

mi = pd.MultiIndex.from_product([letters, numbers])
s = pd.Series(np.random.rand(30), index=mi)
print(s)

A  0    0.795673
   1    0.373594
   2    0.368102
   3    0.151907
   4    0.001522
   5    0.965723
   6    0.419837
   7    0.182357
   8    0.754867
   9    0.350035
B  0    0.175090
   1    0.722904
   2    0.754937
   3    0.690224
   4    0.189666
   5    0.744976
   6    0.775333
   7    0.187461
   8    0.037374
   9    0.198159
C  0    0.984366
   1    0.026938
   2    0.741277
   3    0.049425
   4    0.301516
   5    0.153948
   6    0.975651
   7    0.941207
   8    0.521570
   9    0.648036
dtype: float64

In [22]:
s.index.is_lexsorted()
print(s)

A  0    0.795673
   1    0.373594
   2    0.368102
   3    0.151907
   4    0.001522
   5    0.965723
   6    0.419837
   7    0.182357
   8    0.754867
   9    0.350035
B  0    0.175090
   1    0.722904
   2    0.754937
   3    0.690224
   4    0.189666
   5    0.744976
   6    0.775333
   7    0.187461
   8    0.037374
   9    0.198159
C  0    0.984366
   1    0.026938
   2    0.741277
   3    0.049425
   4    0.301516
   5    0.153948
   6    0.975651
   7    0.941207
   8    0.521570
   9    0.648036
dtype: float64

In [23]:
s.loc[:, [1, 3, 6]]

A  1    0.373594
   3    0.151907
   6    0.419837
B  1    0.722904
   3    0.690224
   6    0.775333
C  1    0.026938
   3    0.049425
   6    0.975651
dtype: float64

In [24]:
s.loc[pd.IndexSlice[:'B', 5:]]

A  5    0.965723
   6    0.419837
   7    0.182357
   8    0.754867
   9    0.350035
B  5    0.744976
   6    0.775333
   7    0.187461
   8    0.037374
   9    0.198159
dtype: float64

In [25]:
s.sum(level=0)

A    4.363619
B    4.476124
C    5.343935
dtype: float64

In [26]:
# One way is to use .unstack()... 
# This method should convince you that s is essentially 
# just a regular DataFrame in disguise!
s.unstack().sum(axis=0)

0    1.955129
1    1.123437
2    1.864315
3    0.891556
4    0.492704
5    1.864647
6    2.170822
7    1.311026
8    1.313812
9    1.196230
dtype: float64

In [28]:
new_s = s.swaplevel(0, 1)

# check
new_s.index.is_lexsorted()

# sort
new_s = new_s.sort_index()
print(new_s)

0  A    0.795673
   B    0.175090
   C    0.984366
1  A    0.373594
   B    0.722904
   C    0.026938
2  A    0.368102
   B    0.754937
   C    0.741277
3  A    0.151907
   B    0.690224
   C    0.049425
4  A    0.001522
   B    0.189666
   C    0.301516
5  A    0.965723
   B    0.744976
   C    0.153948
6  A    0.419837
   B    0.775333
   C    0.975651
7  A    0.182357
   B    0.187461
   C    0.941207
8  A    0.754867
   B    0.037374
   C    0.521570
9  A    0.350035
   B    0.198159
   C    0.648036
dtype: float64