In [ ]:
import pandas as pd
print(pd.__version__)

In [ ]:
print(pd.show_versions())

In [ ]:
import pandas as pd
from pandas import DataFrame

In [ ]:
import pandas as pd
from pandas import DataFrame
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, 'np.nan', 5, 2, 4.5, 'np.nan', 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
animal_frame=pd.DataFrame(data,columns=['animal','age','visits','priority'],index=labels)
print(animal_frame)
print(animal_frame.head(3))

In [ ]:
#Select the data in rows [3, 4, 8] and in columns ['animal', 'age'].
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, 'np.nan', 5, 2, 4.5, 'np.nan', 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
newdf=pd.DataFrame(data,columns=['animal','age','visits','priority'])
newdf.iloc[[3, 4, 8],[0,1]]

In [2]:
import pandas as pd
from pandas import DataFrame
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, 'np.nan', 5, 2, 4.5, 'np.nan', 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(data,columns=['animal','age','visits','priority'],index=labels)
print(df)
df[df['age'].isnull()]

  animal     age  visits priority
a    cat     2.5       1      yes
b    cat       3       3      yes
c  snake     0.5       2       no
d    dog  np.nan       3      yes
e    dog       5       2       no
f    cat       2       3       no
g  snake     4.5       1       no
h    cat  np.nan       1      yes
i    dog       7       2       no
j    dog       3       1       no

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

In [3]:
import pandas as pd
from pandas import DataFrame
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, 'np.nan', 5, 2, 4.5, 'np.nan', 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(data,index=labels)
df[df['visits']>3]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

In [4]:
df.describe()

          visits
count  10.000000
mean    1.900000
std     0.875595
min     1.000000
25%     1.000000
50%     2.000000
75%     2.750000
max     3.000000

In [ ]:
df.loc['f','age']=1.5
print(df)

In [ ]:
df['visits'].sum()

In [ ]:
df.groupby('animal')['age'].mean()

In [8]:
df['animal'].value_counts()

dog      4
cat      4
snake    2
Name: animal, dtype: int64

In [ ]:
df.sort_values(by=['age','visits'],ascending=[False,True])

In [9]:
df['priority']=df['priority'].map({'yes':'True','no':'False'})