In [64]:
N=int(input())
mylist=[list(range(1,N+1))]
mylist1=mylist.reverse()
print(mylist1)

5
None

In [65]:
import numpy as np
N=int(input())
l=np.array([1,1,11,121,131,141,98])
b=[]
for i in l:
    if i==i:
        b.append(int(i))
    else:
        print(-1)
print(b)

5
[1, 1, 11, 121, 131, 141, 98]

In [5]:
rows,cols=input().split()
rows = int(rows)
cols=int(cols)
for row in range(0,rows):
    for col in range(0,cols):
        print("* ", end="")
    print()

1 1
*

In [6]:
rows =int(input())
for row in range(0,rows):
    for col in range(0,rows):
        print("1", end="")
    print()

5
11111
11111
11111
11111
11111

In [12]:
rows = int(input())
#for loop with in for loop to oterate rows followed by column
for row in range(rows):
    for col in range(rows-row):
        print(col+1, end="")
    print()

5
12345
1234
123
12
1

In [ ]:
rows = int(input())
#for loop with in for loop to oterate rows followed by column
for row in range(rows):
    for col in range(rows-row):
        print(col+1, end="")
    print()

In [4]:
rows,cols=input().split()
rows = int(rows)
cols=int(cols)
#initial rows followed by column
for row in range(rows):
    for col in range(0,cols):
        print("*", end=" ")
    print()

3 5
* * * * *
* * * * *
* * * * *

In [7]:
row=int(input())
for i in range (1,row+1):
    for col in range(i):
        print(col,end="*")
    print()

5
0*
0*1*
0*1*2*
0*1*2*3*
0*1*2*3*4*

In [8]:
row=int(input())
for i in range(0,row):
    for j in range(i+1):
        print("#",end="")
    print()

5
#
##
###
####
#####

In [29]:
x=int(input())
num=1
for i in range(1,x):
    for j in range(1,x):
        print(j-1,end="")
    print()

5
0123
0123
0123
0123

In [30]:
x=int(input())
for row in range(1,x):
    for col in range(row):
        print(col+1,end="")
    print()

6
1
12
123
1234
12345

In [31]:
x=int(input())
for row in reversed(range(1,x+1)):
    for col in range(row):
        print(col+1,end="")
    print()

6
12345
1234
123
12
1

In [32]:
row=int(input())
for i in reversed(range (1,row+1)):
    for col in range(i):
        print(i,end="")
    print()

5
55555
4444
333
22
1

In [40]:
row=int(input())
for i in (range(1,row+1)):
    for j in reversed(range(i)):
        print("*",end="")
    print()

5
*
**
***
****
*****

In [50]:
from math import factorial
n=int(input())
for x in range(n):
    for y in range(n-x+1):
        print(end=" ")
    for y in range(x+1):
        print(factorial(x)//(factorial(y)*factorial(x-y)),end=" ")#formula for nCr=n!/((n-r)!*r!)
    print()

6
       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1
  1 5 10 10 5 1

In [46]:
rows = int(input())
#for loop with in for loop to iterate rows followed by column
for row in range(rows):
    for col in range(rows-row):
        print(col+1, end="")
    print()

5
12345
1234
123
12
1

In [48]:
row=int(input())
for i in range (1,row+1):
    for col in range(i):
        print(i,end="")
    print()

5
1
22
333
4444
55555

In [62]:

#def pattern (num)
num=int(input())
number=65 #initialising ASCII value of A
for row in range(0,num):#outer for rows
    for j in range(0,row+1):#inner loop for column
        char=chr(number)#finding ASCII equivalent of number
        print(char,end="")
        number=number+1 #incrementing number
    print("\r") #ending line each row

5
A
BC
DEF
GHIJ
KLMNO

In [63]:

#def pattern (num)
num=int(input())
number=65 #initialising ASCII value of A
for row in range(0,num):#outer for rows
    for j in range(0,row+1):#inner loop for column
        char=chr(number)#finding ASCII equivalent of number
        print(char,end="")
    number=number+1 #incrementing number
    print("\r") #ending line each row

5
A
BB
CCC
DDDD
EEEEE